uvicorn
pydantic
fastapi
qdrant_client
sentence-transformers
transformers
huggingface_hub[hf_xet]
torch>=1.0.1
python-dotenv
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp-proto-http
httpx
prometheus-client
python-json-logger
requests
loguru
psutil
openai
groq

